html, body {
  margin: 0;
  height: auto;
}

body {
  width: 100vw;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

/* Loading Icon */
.lds-dual-ring {
  position: absolute;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #39ac39 transparent #39ac39 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.map-loading {
  visibility: hidden;
}

.line-loading {
  visibility: hidden;
}

.bar-loading {
  visibility: hidden;
}

.tick {
  stroke: black;
}

/* Page Title */
#page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

#title {
  margin: 0
}

#description {
  margin: 0
}

/* Choropleth */
#map {
  position: relative;
  width: auto;
  margin-top: 20px;
}

#map-canvas-inset {
  position: absolute;
  top: 0;
  left: 0;
}

#map-title {
  text-align: center;
  border-top: 40px;
}

#year {
  display: inline-block;
}

#play-btn {
  fill: yellow;
  cursor: pointer;
}

#play-btn-text {
  color: black;
  pointer-events: none;
}

/* Climate line graph */

/* test */
/* #climate-line-graph {
  position: relative;
  width: auto;
}

#energy-bar-graph {
  position: relative;
  width: auto;
} */
  /* test */

#climate-title {
  padding: 0 40px;
  margin: 10px 0;
}

/* Energy Bar Graph */

#energy-title {
  padding: 0 40px;
  margin: 10px 0;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 770px) {

  #grid-container {
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }

  #climate-line-graph {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
  }

  #energy-bar-graph {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 100%;
  }

  #choropleth {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  #grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }

  #page-title {
    position: absolute;
  }

  #energy-bar-graph {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

  }

  #climate-line-graph {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #choropleth {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  /* #climate-line-graph-plot {
    background-color: pink;
    height: 100%;
    width: 100%;
  } */

}
