html, body {
  margin: 0;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tick {
  stroke: black;
}

/* Choropleth */
#choropleth {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#map {
  position: relative;
  width: auto;
  height: auto;
}

#map-canvas {

}

#map-canvas-inset {
  position: absolute;
  top: 0;
  left: 0;
}

#map-title {
  text-align: center;
}

#year {
  display: inline-block;
}

#play-btn {
  fill: yellow;
  cursor: pointer;
}

#play-btn-text {
  color: black;
  pointer-events: none;
}

/* Climate line graph */

#climate-line-graph {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Energy Bar Graph */
#energy-bar-graph {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
