html, body {
  margin: 0;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#map-canvas {
  display: block;
  background-color: pink;
  width: 1000px;
}

#year {
  display: inline-block;
}

.tick {
  stroke: black;
}
